spring:
  application:
    name: khetsetu

  CORS_ALLOWED_ORIGINS: http://localhost:5173,https://localhost:5173

  config:
    import: optional:env

    datasource:
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}
      driver-class-name: org.postgresql.Driver

      hikari:
        maximum-pool-size: 3
        minimum-idle: 1
        connection-timeout: 30000
        idle-timeout: 600000
        max-lifetime: 1800000

        data-source-properties:
          cachePrepStmts: false
          useServerPrepStmts: false
          prepareThreshold: 0

          pgbouncer: true

        connection-test-query: SELECT 1
        validation-timeout: 5000
        leak-detection-threshold: 60000

    jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: update
      open-in-view: false
      show-sql: false

  jwt:
    secret: ${JWT_SECRET}
    access:
      expiration: 1800000
    refresh:
      expiration: 2592000000

  logging:
    level:
      org.springframework.security: WARN
      org.springframework.web: WARN
      org.hibernate: WARN
      com.GAAC.GAAC.Backend: INFO

  server:
    port: 8080

